:root{
    --pri-color:#0e5390;
    --sec-color:#cce4fa;
    --bg-color:#cce4faaf;
    --acc-color:#1684e3;
}


div {
    margin: auto;
    align-items: stretch;
    align-content: center;
}

.tooltip {
  float: middle;
  position: absolute;
  display: inline-block;
  bottom:0 ;
  /*border-bottom: 0.5px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: var(--sec-color);
  border: 1px solid var(--pri-color);
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  opacity: 100%;
 
  position: absolute;
  z-index: 1;

  top: -5px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.outer_block{
    padding: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #FFFFFF;
    width: 60%;
    min-width: min-content;
    display: flex;
}

div.satbr_outer{
    border: 4px solid var(--sec-color);
    border-radius: 15px;
    background-color: #FFFFFF;

    padding: 16px;

    
    display: block;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

div.satbr_inner{
    width: min-content;
    display: flex;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}

div.show_more_outer{
    display: flex;
}

div.satbb{
    margin-left: 8px;
    margin-right: 8px;

    width: 30px;
    min-width: min-content;
    display: block;
}

div.ver{
    width: 100%;
    margin: 0;
}

div.hor{
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
}

div.col_lef{
    float: left;
    width: 50%;
    height: 35px;
    position: relative;
}

div.col_rig{
    float: right;
    width: 50%;
    height: 35px;
}

div.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    color: var(--pri-color);
    font-size: 80px;
    font-family: Verdana;
    text-align: center;
}
h2 {
    margin-top: 4px;
    color: var(--pri-color);   
    font-family: Verdana;
}
h3{
    margin-top: 4px;
    color: var(--pri-color);
    font-family: Verdana;
    margin-bottom: 2px;
}

th{
    font-family: Verdana;
    color: var(--pri-color);
    text-align: left;
}
td{
    font-family: Tahoma;
}
td.first{
    color: var(--acc-color);
}
table{
    margin: auto;
    border-spacing: 16px;
}

p{
    font-family: Tahoma;
}
.header{
    color: var(--pri-color);
}
.header2{
    color: var(--acc-color);
}
.deemph{
    color: gray;
}
.marked{
    color: var(--acc-color);
}
.score{
    color: var(--acc-color);

    padding: 5px;
    padding-right: 8px;
    padding-left: 25px;
    margin: 4px;
    height: min-content;
    
    background-image: url('assets/star.png');
    background-position: 4px 4px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
}

a.dl{
    font-size: small;
}

svg{
    padding-left: 4em;
    padding-right: 4em;
}


input{
    padding: 5px;
    margin: 4px;

    border: 1px solid var(--pri-color);
    border-radius: 15px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-grow: 1;
    background-color: var(--sec-color);
}

input:focus{
    outline: var(--acc-color);
    border: 1px solid var(--acc-color);
}

input.main_input{
    padding-left: 25px;
    
    background-image: url('assets/musical-note.png');
    background-position: 4px 4px;
    background-size: 18px;
    background-repeat: no-repeat;
}

input[type="text"]{
    width:5em;
}
input[type="number"]{
    width: 3em;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--pri-color);
    border-radius: 15px;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 6px;
    transform: scale(0);
    /* transition: 120ms transform ease-in-out; */
    box-shadow: inset 1em 1em var(--acc-color);
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

a.dl{
    padding: 5px;
    padding-right: 8px;
    padding-left: 25px;
    margin: 4px;
    height: min-content;

    background-position: 4px 4px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-color: var(--sec-color);
    background-image: url('assets/download.png');
    float: right;

    border: 1px solid var(--pri-color);
    border-radius: 15px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: inherit;
}

a.dl:link{
    text-decoration: none;
}

a.dl:active{
    background-color: var(--acc-color);
}

a.dl:hover{
    background-color: var(--acc-color);
}

select{
    padding: 5px;
    padding-right: 8px;
    padding-left: 25px;
    margin: 4px;
    height: min-content;

    background-position: 4px 4px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-color: var(--sec-color);

    border: 1px solid var(--pri-color);
    border-radius: 15px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
select#language{
    background-image: url('assets/world.png');
}

button{
    padding: 5px;
    padding-right: 8px;
    padding-left: 25px;
    margin: 4px;
    height: min-content;

    background-position: 4px 4px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-color: var(--sec-color);

    border: 1px solid var(--pri-color);
    border-radius: 15px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.right{
    float: right;
}

button.active{
    background-color: var(--acc-color);
}

button:hover{
    background-color: var(--acc-color);
}

button#generate{
    background-image: url('assets/musical-note.png');
}

button#options{
    background-image: url('assets/cog.png');
}

button#accords{
    background-image: url('assets/help.png');
}

button#sound{
    background-image: url('assets/play.png');
}

button#table{
    background-image: url('assets/table.png');
}

button#show_more{
    padding-left: 8px;
    margin: auto;
}


body{
    background-image: url('assets/piano.png');
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    background-attachment: fixed;
    overflow-y: scroll;
}
