div {
    margin: auto;
    align-items: stretch;
    align-content: center;
}

.outer_block{
    padding: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #FFFFFF;
    width: 50%;
    min-width: min-content;
    display: flex;
}

div.satbr_outer{
    border: 4px solid #8BCE6E;
    border-radius: 15px;
    background-color: #FFFFFF;

    padding: 16px;

    width: 90%;
    display: block;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

div.satbr_inner{

    width: min-content;
    display: flex;
    margin: auto;
}

div.satbb{
    padding: 4px;
    margin: 8px;

    width: 30px;
    min-width: min-content;
    display: block;
}

h1 {
    color: #13712B;
    font-size: 80px;
    font-family: Verdana;
    text-align: center;
}
h2 {
    color: #13712B;   
    font-family: Verdana;
}
h3{
    color: #13712B;
    font-family: Verdana;
}
p{
    font-family: Tahoma;
}
b p.header{
    color: #13712B;
}
b p.deemph{
    color: gainsboro;
}
input{
    padding: 5px;
    padding-left: 25px;
    background-image: url('musical-note.png');
    background-position: 4px 4px;
    background-size: 18px;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-color: #8BCE6E;
    border-color: #13712B;
    border-style: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: auto;
    align-self: center;
    width: 90%;
}

input:focus{
    background-color: #c2e9b1;
    outline: #BF7021;
}

body{
    background-image: url('piano.png');
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-attachment: fixed;
}