div {
    margin: auto;
    width: fit-content;
}

.visible{
    padding: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #8BCE6E;
    width: 50%;
    display: flex;
}

h1 {
    color: #13712B;
    font-size: 80px;
    font-family: Verdana;
    text-align: center;
}
h2 {
    color: #13712B;   
}
h3{
    color: #BF7021;
}
p{
    font-family: Tahoma;
}
input{
    padding: 5px;
    padding-left: 25px;
    background-image: url('musical-note.png');
    background-position: 4px 4px;
    background-size: 18px;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-color: #8BCE6E;
    border-color: #13712B;
    border-style: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input :focus{
    border-color: #BF7021;
}

body{
    background-image: url('piano.png');
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}